<div class="container">
  <% @teams.each do |team| %>
    <% team.boards.each do |board| %>
      <div class="row">
        Team <%= team.name %>
      </div>
      <div class="row">
        <%= link_to(board) do %>
          <div class="col-4 mt-1">
            <div class="card text-center shadow mb-5 bg-white rounded">
              <div class="card-header font-italic">
                <%= board.title %>
              </div>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Card text</p>
              </div>
              <div class="card-footer text-muted">
                <small>Created <%= time_ago_in_words(board.created_at) %> ago, 
                edited <%= time_ago_in_words(board.updated_at) %> ago</small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>