<h1>Plans#new</h1>

<% if @plan.errors.any? %>
<h2>The following errors prevented the plan from being saved</h2>
<ul>
  <% @plan.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_with(model: @plan, data: { turbo: false }, local: true) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :period %>
    <%= f.number_field :period, value: 1, in: 1..31 %>
  </p>
  
  <p>
    <%= f.label :period_type %>
    <%= f.select :period_type, [['Days', 'days'], ['Months', 'months'], ['Years', 'years']] %>
  </p>
  
  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
