<div class="col-md-12">
  <h1>Users</h1>

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>role</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', users_path(user) %></td>
        <td><%= link_to 'Edit', edit_user_registration_path(user)%></td>
        <td><%= link_to 'Delete', users_path(user), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %></td>
      </tr>
      <% end %> 
    </tbody>
  </table>

  <p>
    <%= link_to 'Create new user', signup_path %>
  </p>
</div>